* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

svg path {
  fill: #073b4c;
  stroke: #eee;
  stroke-width: 0.25;
}

svg path:hover {
  fill: #0f7a9e;
  transition: 0.5s;
  cursor: pointer;
}
