* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: bisque;
}
h1 {
  background-color: #333;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #494949;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


svg path {
  fill: #073b4c;
  stroke: #eee;
  stroke-width: 0.25;
}

#INGA {
  fill: #0d0887;
}

#INPY {
  fill: #16078a;
}

#INDL {
  fill: #7801a8;
}

#INAR {
  fill: #8f0da4;
}

#INUP {
  fill: #c5407e;
}

#INMH {
  fill: #da5b69;
}

#INKA {
  fill: #e3685f;
}

#INOR {
  fill: #e56b5d;
}

#INAP {
  fill: #eb7655;
}

#INBR {
  fill: #eb7655;
}

#INTR {
  fill: #ec7754;
}

#INCT {
  fill: #ed7953;
}

#INTN {
  fill: #ee7b51;
}

#INWB {
  fill: #f3854b;
}

#INRJ {
  fill: #f48948;
}

#INMN {
  fill: #f58c46;
}

#INMZ {
  fill: #f68d45;
}

#INHP {
  fill: #f79143;
}

#INMP {
  fill: #f79143;
}

#INNL {
  fill: #f99a3e;
}

#INHR {
  fill: #f99a3e;
}

#INML {
  fill: #fba238;
}

#INKL {
  fill: #fca537;
}

#INAS {
  fill: #fdab33;
}

#INSK {
  fill: #fdac33;
}

#INGJ {
  fill: #fdac33;
}

#INTG {
  fill: #f0f921;
}

#INPB {
  fill: #feba2c;
}

#INJK {
  fill: #fdc229;
}

#INUT {
  fill: #f2f227;
}

#INJH {
  fill: #f0f921;
}

#INLA {
  fill: #fdc229;
}

svg path:hover {
  fill: #0f7a9e;
  transition: 0.5s;
  cursor: pointer;
}
